<div class="parent">
  <div class="div1">
    <mat-form-field appearance="fill">
      <mat-label>Select Fighter</mat-label>
      <mat-select (selectionChange)="onSelect1($event)">
        <mat-option *ngFor="let fighter of fighters" [value]="fighter.id">{{
          fighter.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="fighter">
      <ng-container *ngIf="fighter1">
        <p class="name">{{ fighter1.name }}</p>
        <table class="blueTable">
          <caption>
            Ratings
          </caption>
          <tbody>
            <tr>
              <td width="33%">
                Punching:
                <span>{{ fighter1.punching | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Kicking: <span>{{ fighter1.kicking | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Clinch Striking:
                <span>{{ fighter1.clinchStriking | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Clinch Grappling:
                <span>{{ fighter1.clinchGrappling | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Takedowns:
                <span>{{ fighter1.takedowns | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                GNP: <span>{{ fighter1.gnp | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Submission:
                <span>{{ fighter1.submission | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                GroundGame:
                <span>{{ fighter1.groundGame | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Dodging: <span>{{ fighter1.dodging | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Sub Defense:
                <span>{{ fighter1.subDefense | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Takedowns Def:
                <span>{{ fighter1.takedownsDef | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Aggressiveness:
                <span>{{ fighter1.aggressiveness | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Control: <span>{{ fighter1.control | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Motivation:
                <span>{{ fighter1.motivation | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Strength:
                <span>{{ fighter1.strength | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Agility:
                <span>{{
                  fighter1.agility | number : "1.1-1" | number : "1.1-1"
                }}</span>
              </td>
              <td width="33%">
                Conditioning:
                <span>{{ fighter1.conditioning | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                KO Resistance:
                <span>{{ fighter1.koResistance | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Toughness:
                <span>{{ fighter1.toughness | number : "1.1-1" }}</span>
              </td>
              <td width="33%"></td>
              <td width="33%"></td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>

    <ng-container *ngIf="strats1 && fighter1">
      <div class="strats">
        <div class="strats-container">
          <p>Strats Geral</p>
          <p>
            {{
              strats1.stratPunching +
                strats1.stratKicking +
                strats1.stratClinching +
                strats1.stratTakedowns
            }}
          </p>
          <label for="stratPunching">Punching</label>
          <input
            [(ngModel)]="strats1.stratPunching"
            [formControl]="stratPunching"
            type="number"
            id="stratPunching"
            name="stratPunching"
            min="0"
            max="100"
            value="{{ strats1.stratPunching }}"
          />

          <label for="stratKicking">Kicking</label>
          <input
            [(ngModel)]="strats1.stratKicking"
            [formControl]="stratKicking"
            type="number"
            id="stratKicking"
            name="stratKicking"
            min="0"
            max="100"
            value="{{ strats1.stratKicking }}"
          />

          <label for="stratClinching">Clinching</label>
          <input
            [(ngModel)]="strats1.stratClinching"
            [formControl]="stratClinching"
            type="number"
            id="stratClinching"
            name="stratClinching"
            min="0"
            max="100"
            value="{{ strats1.stratClinching }}"
          />

          <label for="stratTakedowns">Takedowns</label>
          <input
            [(ngModel)]="strats1.stratTakedowns"
            [formControl]="stratTakedowns"
            type="number"
            id="stratTakedowns"
            name="stratTakedowns"
            min="0"
            max="100"
            value="{{ strats1.stratTakedowns }}"
          />
        </div>

        <!-- FIM GERAL -->

        <!-- INICIO CLINCH  -->

        <div class="strats-container">
          <p>Strats Clinch</p>
          <p>
            {{
              strats1.stratDirtyBoxing +
                strats1.stratThaiClinch +
                strats1.stratClinchTakedowns +
                strats1.stratAvoidClinch
            }}
          </p>
          <label for="stratDirtyBoxing">Dirty Boxing</label>
          <input
            [(ngModel)]="strats1.stratDirtyBoxing"
            [formControl]="stratDirtyBoxing"
            type="number"
            id="stratDirtyBoxing"
            name="stratDirtyBoxing"
            min="0"
            max="100"
            value="{{ strats1.stratDirtyBoxing }}"
          />

          <label for="stratThaiClinch">Thai Clinch</label>
          <input
            [(ngModel)]="strats1.stratThaiClinch"
            [formControl]="stratThaiClinch"
            type="number"
            id="stratThaiClinch"
            name="stratThaiClinch"
            min="0"
            max="100"
            value="{{ strats1.stratThaiClinch }}"
          />

          <label for="stratClinchTakedowns">Clinch Takedowns</label>
          <input
            [(ngModel)]="strats1.stratClinchTakedowns"
            [formControl]="stratClinchTakedowns"
            type="number"
            id="stratClinchTakedowns"
            name="stratClinchTakedowns"
            min="0"
            max="100"
            value="{{ strats1.stratClinchTakedowns }}"
          />

          <label for="stratAvoidClinch">Avoid Clinch</label>
          <input
            [(ngModel)]="strats1.stratAvoidClinch"
            [formControl]="stratAvoidClinch"
            type="number"
            id="stratAvoidClinch"
            name="stratAvoidClinch"
            min="0"
            max="100"
            value="{{ strats1.stratAvoidClinch }}"
          />
        </div>

        <!-- FIM CLINCH -->

        <!-- INICIO GROUND -->

        <div class="strats-container">
          <p>Strats Ground</p>
          <p>
            {{
              strats1.stratGNP +
                strats1.stratSub +
                strats1.stratPositioning +
                strats1.stratLNP +
                strats1.stratStandUp
            }}
          </p>
          <label for="stratGNP">GNP</label>
          <input
            [(ngModel)]="strats1.stratGNP"
            [formControl]="stratGNP"
            type="number"
            id="stratDirtyBoxing"
            name="stratGNP"
            min="0"
            max="100"
            value="{{ strats1.stratGNP }}"
          />

          <label for="stratSub">Sub</label>
          <input
            [(ngModel)]="strats1.stratSub"
            [formControl]="stratSub"
            type="number"
            id="stratSub"
            name="stratSub"
            min="0"
            max="100"
            value="{{ strats1.stratSub }}"
          />

          <label for="stratPositioning">Positioning</label>
          <input
            [(ngModel)]="strats1.stratPositioning"
            [formControl]="stratPositioning"
            type="number"
            id="stratPositioning"
            name="stratPositioning"
            min="0"
            max="100"
            value="{{ strats1.stratPositioning }}"
          />

          <label for="stratLNP">Lay and Pray</label>
          <input
            [(ngModel)]="strats1.stratLNP"
            [formControl]="stratLNP"
            type="number"
            id="stratLNP"
            name="stratLNP"
            min="0"
            max="100"
            value="{{ strats1.stratLNP }}"
          />

          <label for="stratStandUp">StandUp</label>
          <input
            [(ngModel)]="strats1.stratStandUp"
            [formControl]="stratStandUp"
            type="number"
            id="stratStandUp"
            name="stratStandUp"
            min="0"
            max="100"
            value="{{ strats1.stratStandUp }}"
          />
        </div>

        <!-- FIM GROUND  -->
      </div>
      <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Fighting Style /
        Tactical Style
      </p>
      <div class="style">
        <mat-form-field appearance="fill">
          <mat-label>({{ retornaStyle(strats1.fightingStyle) }})</mat-label>
          <mat-select
            [(ngModel)]="strats1.fightingStyle"
            name="prioridade"
            [formControl]="fightingStyle"
            required
          >
            <mat-option value="0">Very Defensive</mat-option>
            <mat-option value="1">Defensive</mat-option>
            <mat-option value="2">Normal</mat-option>
            <mat-option value="3">Aggresive</mat-option>
            <mat-option value="4">Very Aggresive</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>({{ retornaTatical(strats1.tacticalStyle) }})</mat-label>

          <mat-select
            [(ngModel)]="strats1.tacticalStyle"
            name="prioridade"
            [formControl]="taticalStyle"
            required
          >
            <mat-option value="0">All Power</mat-option>
            <mat-option value="1">Most Power</mat-option>
            <mat-option value="2">Normal</mat-option>
            <mat-option value="3">Most Techinique</mat-option>
            <mat-option value="4">All Techinique</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button class="button" (click)="update()" [disabled]="!validCampos1()">
        Atualizar Gameplan
      </button>
    </ng-container>
  </div>

  <div class="div2">
    <mat-form-field appearance="fill">
      <mat-label>Select Fighter</mat-label>
      <mat-select (selectionChange)="onSelect2($event)">
        <mat-option *ngFor="let fighter of fighters" [value]="fighter.id">{{
          fighter.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="fighter">
      <ng-container *ngIf="fighter2">
        <p class="name">{{ fighter2.name }}</p>
        <table class="blueTable">
          <caption>
            Ratings
          </caption>
          <tbody>
            <tr>
              <td width="33%">
                Punching:
                <span>{{ fighter2.punching | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Kicking: <span>{{ fighter2.kicking | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Clinch Striking:
                <span>{{ fighter2.clinchStriking | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Clinch Grappling:
                <span>{{ fighter2.clinchGrappling | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Takedowns:
                <span>{{ fighter2.takedowns | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                GNP: <span>{{ fighter2.gnp | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Submission:
                <span>{{ fighter2.submission | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                GroundGame:
                <span>{{ fighter2.groundGame | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Dodging: <span>{{ fighter2.dodging | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Sub Defense:
                <span>{{ fighter2.subDefense | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Takedowns Def:
                <span>{{ fighter2.takedownsDef | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Aggressiveness:
                <span>{{ fighter2.aggressiveness | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Control: <span>{{ fighter2.control | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Motivation:
                <span>{{ fighter2.motivation | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Strength:
                <span>{{ fighter2.strength | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Agility: <span>{{ fighter2.agility | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                Conditioning:
                <span>{{ fighter2.conditioning | number : "1.1-1" }}</span>
              </td>
              <td width="33%">
                KO Resistance:
                <span>{{ fighter2.koResistance | number : "1.1-1" }}</span>
              </td>
            </tr>
            <tr>
              <td width="33%">
                Toughness:
                <span>{{ fighter2.toughness | number : "1.1-1" }}</span>
              </td>
              <td width="33%"></td>
              <td width="33%"></td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-container *ngIf="strats2 && fighter2">
        <div class="strats">
          <div class="strats-container">
            <p>Strats Geral</p>
            <p>
              {{
                strats2.stratPunching +
                  strats2.stratKicking +
                  strats2.stratClinching +
                  strats2.stratTakedowns
              }}
            </p>
            <label for="stratPunching">Punching</label>
            <input
              type="number"
              id="stratPunching"
              name="stratPunching"
              min="0"
              max="100"
              disabled
              value="{{ strats2.stratPunching }}"
            />

            <label for="stratKicking">Kicking</label>
            <input
              disabled
              type="number"
              id="stratKicking"
              name="stratKicking"
              min="0"
              max="100"
              value="{{ strats2.stratKicking }}"
            />

            <label for="stratClinching">Clinching</label>
            <input
              disabled
              type="number"
              id="stratClinching"
              name="stratClinching"
              min="0"
              max="100"
              value="{{ strats2.stratClinching }}"
            />

            <label for="stratTakedowns">Takedowns</label>
            <input
              disabled
              type="number"
              id="stratTakedowns"
              name="stratTakedowns"
              min="0"
              max="100"
              value="{{ strats2.stratTakedowns }}"
            />
          </div>

          <!-- FIM GERAL -->

          <!-- INICIO CLINCH  -->

          <div class="strats-container">
            <p>Strats Clinch</p>
            <p>
              {{
                strats2.stratDirtyBoxing +
                  strats2.stratThaiClinch +
                  strats2.stratClinchTakedowns +
                  strats2.stratAvoidClinch
              }}
            </p>
            <label for="stratDirtyBoxing">Dirty Boxing</label>
            <input
              disabled
              type="number"
              id="stratDirtyBoxing"
              name="stratDirtyBoxing"
              min="0"
              max="100"
              value="{{ strats2.stratDirtyBoxing }}"
            />

            <label for="stratThaiClinch">Thai Clinch</label>
            <input
              disabled
              type="number"
              id="stratThaiClinch"
              name="stratThaiClinch"
              min="0"
              max="100"
              value="{{ strats2.stratThaiClinch }}"
            />

            <label for="stratClinchTakedowns">Clinch Takedowns</label>
            <input
              disabled
              type="number"
              id="stratClinchTakedowns"
              name="stratClinchTakedowns"
              min="0"
              max="100"
              value="{{ strats2.stratClinchTakedowns }}"
            />

            <label for="stratAvoidClinch">Avoid Clinch</label>
            <input
              disabled
              type="number"
              id="stratAvoidClinch"
              name="stratAvoidClinch"
              min="0"
              max="100"
              value="{{ strats2.stratAvoidClinch }}"
            />
          </div>

          <!-- FIM CLINCH -->

          <!-- INICIO GROUND -->

          <div class="strats-container">
            <p>Strats Ground</p>
            <p>
              {{
                strats2.stratGNP +
                  strats2.stratSub +
                  strats2.stratPositioning +
                  strats2.stratLNP +
                  strats2.stratStandUp
              }}
            </p>
            <label for="stratGNP">GNP</label>
            <input
              disabled
              type="number"
              id="stratDirtyBoxing"
              name="stratGNP"
              min="0"
              max="100"
              value="{{ strats2.stratGNP }}"
            />

            <label for="stratSub">Sub</label>
            <input
              disabled
              type="number"
              id="stratSub"
              name="stratSub"
              min="0"
              max="100"
              value="{{ strats2.stratSub }}"
            />

            <label for="stratPositioning">Positioning</label>
            <input
              disabled
              type="number"
              id="stratPositioning"
              name="stratPositioning"
              min="0"
              max="100"
              value="{{ strats2.stratPositioning }}"
            />

            <label for="stratLNP">Lay and Pray</label>
            <input
              disabled
              type="number"
              id="stratLNP"
              name="stratLNP"
              min="0"
              max="100"
              value="{{ strats2.stratLNP }}"
            />

            <label for="stratStandUp">StandUp</label>
            <input
              disabled
              type="number"
              id="stratStandUp"
              name="stratStandUp"
              min="0"
              max="100"
              value="{{ strats2.stratStandUp }}"
            />
          </div>

          <!-- FIM GROUND  -->
        </div>
      </ng-container>
    </div>
  </div>
  <div class="div3">
    <div>
      <button (click)="create()">Criar luta</button> >>>>>
      <button (click)="clean()">Limpar</button>
    </div>
  </div>
  <div class="div4">
    <p *ngFor="let fight of pbp">
      {{ fight }}
    </p>
  </div>
</div>
